@media screen and (min-width:1060px) and (max-width:1200px) {
  .about-info .list-item2 {
    margin-left: 10%;
  }
}
@media screen and (min-width:1127px) and (max-width:1280px) {
  .about-us .about-img {
    width: 500px!important;
      }
  .about-us .about-img img {
width: 500px!important;
height: auto!important;
  }
  .about-us .about-info {
    margin-top: 0px!important;
  }
  .about-us .about-info span {
    font-size: 18px!important;
  }
  .about-us .about-info h1 {
    font-size: 28px!important;
  }
  .about-us .about-info p {
    font-size: 16px!important;
  }
  .about-uss .about-img {
    width: 500px!important;
      }
  .about-uss .about-img img {
width: 500px!important;
height: auto!important;
  }
  .about-uss .about-info {
    margin-top: 0px!important;
  }
  .about-uss .about-info span {
    font-size: 18px!important;
  }
  .about-uss .about-info h1 {
    font-size: 28px!important;
  }
  .about-uss .about-info p {
    font-size: 16px!important;
  }
}
@media screen and (min-width:1920px) {
  .portfolio .portfolio-img img {
    width: 100%;
  }
  .yoga-types .types-container {
    height: 478px;
  }
}
@media screen and (min-width:993px) and (max-width:1126px) {
  .main-article .images img:nth-child(1) {
    width: 100%;
  }
  .main-article .images img:nth-child(2) {
    left: 90px!important;
    top: 70px!important;
  }
 main .main-article .anim-image img {
  left: 20px!important;
  width: 92%!important;
  margin-top: 20px!important;
  }
}
@media screen and (max-width:1126px) {
  .container {
    max-width: 1060px!important;
  }
  .element-container {
    width: 230px!important;
    margin-top: -90px!important;
    padding: 30px 30px 30px!important;
  }
  .main-article, .classes-article .article-info {
    margin-top: 20%;
  }
  .main-article, .classes-article .images img {
width: 322px!important;
  }
  .images img:nth-child(2) {
    width: 322px!important;
    margin: 0px;
  }
 
  .about-img {
    width: 450px!important;
    height: 440px!important;
  }
  .about-img img {
    width: 450px!important;
    height: 440px!important;
  }
  .info-container {
    margin-top: 30%;
  }
  .about-info {
    margin-top: -35px;
  }
  .about-info h1 {
    font-size: 28px!important;
  }
  .about-info p {
    font-size: 16px!important;
  }
  .list li {
    margin-bottom: 10px!important;
  }
.card-img img {
  width: 100%!important;
}
.about-us .list-item2 {
  margin-left: 30px;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.reviews .review-box {
  width: auto;
  margin-bottom: 20px;
}
.footer-top .center-footer {
  padding: 0;
  text-align: left;
  margin-top: 20px;
}
.benifits {
  height: 1040px!important;
}
main .contact {
  padding-top: 50px!important;
}
.contact .img-wrapper img {
  width: 100%!important;
}
main .contact .container {
  margin-left: 0px!important;
}
main .contact .col-md-6 .container {
  margin-left: 0px!important;
  max-width: 960px!important;
}
main .contact .submit-button {
  width: auto!important;
}
main .classes-article .carousel-image-3 .classes-image img:nth-child(2) {
  width: 350px!important;
  left: -120px!important;
}

@media screen and (max-width:991px) {
  body main .course-description .container {
    max-width: 1060px!important;
  }
  .container {
    max-width: 720px!important;
  }
  .search-box, .shop-cart, .gt-toggle-btn {
    display: none;
  }
  main .studio-main .article-info {
    margin-top: 60%!important;
  }
  main .studio-main .article-info span {
    font-size: 15px!important;
  }
  main .studio-main .article-info h1 {
    font-size: 26px!important;
  }
  main .studio-main .article-info p {
    max-width: 70%!important;
  }
  .article-info {
    margin-top: 5%;
  }
  .article-info span {
    font-size: 20px!important;
  }
  .article-info h1 {
    font-size: 36px!important;
  }
  .article-info p {
    font-size: 15px!important;
    margin-top: 2%!important;
  }
  .buttons .btn-primary {
    width: 160px!important;
  }
  .col-md-12 {
    text-align: center;
  }
  .col-md-12 .buttons {
    justify-content: center;
  }
  .images img{
    width: 322px!important;
  }
 .main-article .images img:nth-child(2) {
    width: 322px!important;
   margin: 0 auto;
    margin-top: 0;
  }
  main .main-article .images .anim-image img {
    /* left: 200px!important; */
    left: 28%!important;
    margin-top: 3%;
    width: 290px!important;
  }
  .element-container {
    padding: 30px 30px 3px 40px!important;
    position: none!important;
    width: 100%!important;
  }
  .yoga-information .col-md-6 {
        margin-top: 15%!important;
  }
  .about-us {
    height: 990px!important;
  }
  .about-us .col-md-12 {
    text-align: center!important;
  }
  .about-us .about-img {
    width: auto!important;
    
  }
  .about-uss {
    height: 990px!important;
  }
  .about-uss .col-md-12 {
    text-align: center!important;
  }
  .about-uss .about-img {
    width: auto!important;
    
  }
  .about-img img {
    height: auto!important;
    width: 100!important;
  }
  .info-container {
    margin-top: 3%!important;
  }
  .about-info {
    margin-top: 2px!important;
  }
  .about-info span {
    font-size: 18px!important;
  }
  .about-info h1 {
    font-size: 22px!important;
  }
  .about-info p {
    font-size: 14px!important;
  }
  .list-container {
    justify-content: center!important;
  }
  .about-button {
    margin: 4px auto;
  }
  .hidden-card {
    display: none;
  }
  .card .card-img img {
    width: 100%!important;
  }
  .yoga-card .container {
    max-width: 1060px!important;
  }
  .stat-responsive .container {
    max-width: 1024px!important;
  }
  .portfolio .custom-img {
    display: block;
  }
  .portfolio .portfolio-img img {
    width: 50vw;
  }
  .custom-respons {
    display: none;
  }
  .reviews {
    height: 1000px!important;
  }
  .about-uss .info-containers {
    margin-top: 120px!important;
  }
  main .benifits {
    height: 1600px!important;
  }
  .benifits .col-md {
    margin-top: 25px;
  }
  .contact-info {
    height: 950px!important;
  }
  main .classes-article {
    margin-bottom: 20px!important;
  }
  main .about-us .about-classes {
    margin-top: 5%!important;
  }
}
main .classes-article {
  height: 750px!important;
}
.classes-article .article-info {
  margin-top: 5%!important;
}
.classes-article .classes-image img:nth-child(1){
  left: 0!important;
  width: 400px!important;
  margin-top: -9%!important;

}
.classes-article .classes-image img:nth-child(2) {
  margin: 0 auto;
  width: 200px!important;
  top: -20px;
  left: 0px!important;
}
.courses .hidden-1 {
  display: none!important;
}
main .clients-reviews {
  height: 850px;
}
.clients-reviews .info {
  margin-top: 40%;
}
.clients-reviews h5 {
  font-size: 28px;
}
.clients-reviews p {
  font-size: 14px;
}
.latest-project .custom-img {
  display: block;
}
main .studio-benifits {
  height: 950px!important;
}
.studio-services .services-text {
  margin-top: 1rem;
}
.hidden-1 {
  display: none!important;
}
main .projects-detail .col-md-12 {
  text-align: left!important;
}
main .projects-detail .container {
  max-width: 1060px!important;
}
.projects-detail .portfolio-header h5 {
  margin-top: 1rem;
}
.projects-detail .details-icons {
  width: auto;
}
main .single-blog .container {
  max-width: 1060px!important;
}
.single-blog .comment-name, .comment-email, .comment-url {
  width: 100%!important;
}
@media screen and (min-width:992px) and (max-width:1126px) {
  .main-article, .classes-article .images img:nth-child(2) {
    margin: 0!important;
    width: 302px!important;
  }
  main .classes-article {
    height: 450px!important;
  }

 
}
@media screen and (max-width:1038px) {
  .benifits {
    height: 1100px!important;
  }
}

@media screen and (min-width:768px) and (max-width:992px){
  .about-us .about-img {
    margin-top: 30%!important;
  }

  .stat-table .table-ul ul li {
    margin-right: 0px;
  }
}

}
@media screen and (max-width:767px) {
 .container {
    max-width: 540px;
  }
  .about-us {
    height: 1090px!important;
  }
  .about-uss {
    height: 1000px!important;
  }
  .about-uss .about-img {
    margin-top: 0px!important;
  }
  .about-img {
    margin-top: 50%!important;
  }
  .hidden-2 {
    display: none;
  }
  .card .card-img img {
    width: 100%!important;
  }
  .yoga-card {
    height: auto!important;
  }
  .stat-responsive .container {
    max-width: 767px!important;
  }
  .stat-responsive .statistics {
    margin-top: 0px;
  }
  .counter-info span {
    font-size: 28px!important;
  }
  .top-header {
    display: none;
  }
  main .stat-table .table-ul ul a {
    padding: 0px 10px!important;
    font-size: 14px!important;
  }
  .stat-table .table-ul ul li {
    margin-right: 0px;
  }
  .portfolio-img img {
    width: 100vw!important;
  }
  .footer-top .social-footer ul {
    text-align: left;
    margin-bottom: 20px;
  }
  .footer-top .social-footer ul li a {
    text-align: center;
  }
  .blogs {
    height: 860px!important;
  }
  main .benifits {
    height: 2200px!important;
  }
  .benifits .col-md {
    margin: 0px!important;
  }
  .benifits .col-sm-12 {
    margin-bottom: 25px;
  }
  .contact-info {
    height: 1500px!important;
  }
  main .contact .img-wrapper img {
    width: 100%!important;
  }
  main .contact .col-md-6 .container {
    margin: 0px!important;
    margin-top: 50px!important;
  }
 main .clients-reviews {
    height: 1250px;
  }
main   .clients-reviews .info {
    margin-top: 2rem;
  }
  main .types-yoga .row {
    text-align: center!important;
  }
  main .studio-benifits {
    height: 1250px!important;
  }
  main .cosmetics .cosmetics-box {
    text-align: center;
  }
  main .description-box .description-head {
    display: grid!important;
    height: auto;
    text-align: center;
  }
  main .description-box .description-head li {
    margin-top: 1rem;
  }
  main .course-sidebar {
    margin-top: 0px;
  }
  .courses .course-search {
    width: 100%;
  }
  .course-lists .courses-meta {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 15px;
  }
  .course-lists .course-item .course-img {
    width: 100%;
    margin-top: 2rem;
  }
  .course-lists .course-item {
    flex-direction: column!important;
    width: 100%;
  }
.courses .course-lists .course-content {
    align-self:unset!important;
    width: 100%!important;
    padding-top: 20px!important;
  }
}
@media screen and (max-width:717px) {
  .latest-project .table-ul li {
    margin-right: 0px;
  }
}
@media screen and (max-width:715px) {
   .main-article .images .anim-image img {
    left: 180px!important;
  }
}
@media screen and (max-width:690px) {
  .counter-info span {
    font-size: 20px!important;
  }
  .counter-info p {
    font-size: 12px!important;
  }
  .main-article, .classes-article .images img {
    width: 302px!important;
  }
}
  .main-article, .classes-article .images img:nth-child(2) {
    width: 302px;
    margin: 0 auto;
  }
}
@media screen and (max-width:659px) {
  .stat-table .table-ul ul a  {
    padding: 0px 10px;
    font-size: 14px!important;
  }
}
@media screen and (max-width:645px) {
  main .benifits {
    height: 2380px!important;
  }
  main .studio-benifits {
    height: 1400px!important;
  }
}
@media screen and (max-width:630px) {
  main .main-article .images .anim-image img {
    left: 140px!important;
  }
 main  .studio-services .counter {
    padding: 25px 25px 25px 25px;
  }
}
@media screen and (max-width:627px) {
  main .course-meta {
    width: 100%!important;
    display: grid!important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  main .course-meta-secondary {
    display: grid!important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%!important;
  }
  .course-meta .review-text {
    text-align: left;
  }
}
@media screen and (max-width:608px) {
  .about-us {
    margin-top: 20%!important;
  }
  .about-uss {
    margin-top: 20%!important;
  }
  .statistics {
    height: auto!important;
    background-size: auto!important;
  }
  .statistics .counter-info span {
    font-size: 45px!important;
  }
  .statistics .counter-info p {
    font-size: 16px!important;
  }
  main .about-class {
        margin-top: 0px!important;
  }
  
  }
  @media screen and (max-width:575px) {
    main .types-yoga {
      margin-top: 0px!important;
    }
  }
  @media screen and (max-width:560px) {
    main .main-article .images .anim-image img {
      left: 110px!important;
    }
  }
  @media screen and (max-width:510px) {
    main .main-article .images .anim-image img {
      left: 90px!important;
    }
    main .classes-article .classes-image :nth-child(1) {
      width: 300px!important;
    }
    main .classes-article .classes-image :nth-child(2) {
      width: 160px!important;
    }
   main .classes-article {
    height: 600px!important;
   }
   main .classes-article .carousel-image-3 .classes-image img:nth-child(2){
    width: 250px!important;
   }
  }
  @media screen and (min-width:992px) and (max-width:1126px) {
    main .studio-benifits {
      height: 650px!important;
    }
  }
  @media screen and (max-width:481px) {

    .about-us {
      height: auto!important;
    }
    .about-uss {
      height: auto!important;
    }
    .about-uss .about-img {
      margin-top: 0%!important;
    }
    .about-us .about-img img {
      width: 410px!important;
    }
    .about-uss .about-img img {
      width: 410px!important;
    }
    .about-uss .info-containers {
      margin-top: 50px!important;
    }
    .yoga-information {
      height: auto!important;
    }
    .yoga-information .element-container {
      margin-top: -40px!important;
    }
    .about-us .about-img {
      margin-top: 0%!important;
    }
    .yoga-card .card .card-img img {
      width: 100%!important;
    }
    .main-article {
      height: 700px!important;
    }
    .main-article .images {
      margin-top: 20%!important;
    }
    .main-article .images img {
      width: 250px!important;
    }
    main .main-article .images .anim-image img {
      width: 220px!important;
      left: 110px!important;
    }
    .main-article .images img:nth-child(2) {
      width: 250px!important;
    }
    .reviews {
      height: 1200px!important;
    }
    .reviews .carousel-indicators {
      bottom: 0px;
    }
   .reviews .section-title h5 {
      font-size: 35px;
      margin-bottom: -10px;
    }
    .blog .section-title h5 {
      font-size: 35px;
      margin-bottom: -10px;
    }
  main .studio-services .counter {
    padding: 3px 0px 0px 1px!important;
    }
    main .studio-services .counter span {
      font-size: 40px;
    }
    main .studio-services .counter p {
      font-size: 15px;
    }
  }
  @media screen and (max-width:455px) {
    main .studio-main .article-info h1 {
      max-width: 40%!important;
    }
    main .studio-main .article-info span {
      font-size: 12px!important;
    }
  }
  @media screen and (max-width:441px) {
    .about-us .about-img img {
      width: 380px!important;
    }
    .about-uss .about-img img {
      width: 380px!important;
    }
  }
  @media screen and (max-width:421px) {
    .about-us  .about-img img {
      width: 300px!important;
      }
      .about-us .info-container {
        margin-top: -40%!important;
      }
    .main-article, .classes-article .article-info h1 {
      font-size: 26px!important;
    }
    .yoga-card .card .card-img img {
      
      width: 100%!important;
    }
    main .main-article {
      height: 700px!important;
    }
    .main-article, .classes-article .buttons span {
      font-size:16px!important;
    }
    .about-uss  .about-img img {
      width: 300px!important;
      }
      .about-uss .info-container {
        margin-top: -40%!important;
      }
      .about-uss .info-containers {
        margin-top: -70px!important;
      }
      main .about-class {
        margin-top: 50%!important;
      }
  }
  @media screen and (max-width:399px) {
    main .main-article .images .anim-image img {
      left: 60px!important;
    }
   
  }
@media screen and (max-width:385px) {
  main .benifits {
    height: 2480px!important;
  }
  main .studio-benifits {
    height: 1480px!important;
  }
  main .stat-table .table-ul ul a {
    
    font-size: 12px!important;
  }
}
@media screen and (max-width:376px) {
  main .benifits {
    height: 2510px!important;
  }
  .latest-project .table-ul ul li a {
    font-size: 14px;
  }
  main .studio-benifits {
    height: 1510px!important;
  }
}
@media screen and (max-width:355px) {
  main .main-article .images .anim-image img {
    left: 40px!important;
  }
}
@media screen and (max-width:330px) {
  main .benifits {
    height: 2690px!important;
  }
  main .studio-benifits {
    height: 1480px!important;
  }
}